@import '../../../../../styles/variables.scss';

.mainContainer__cardList {
  height: 100%;
  width: 100%;
  row-gap: 3em;
  margin-bottom: 4em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;

  @media(max-width:1050px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media(max-width:$tablet-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.mainContainer__cardList_empty {
  height: 100%;
  width: 100%;
  row-gap: 3em;
  margin-bottom: 4em;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}

.mainContainer__cardList_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.mainContainer__cardList_list_loading,
.styles.mainContainer__cardList_loading {
  height: 100vh !important;
}

.mainContainer__error,
.mainContainer__noFound {
  margin-top: 1em;
}
